<h1>Account Info</h1>

<div class="table-responsive">
	<table class="table table-striped">
		<tr>
			<% if @user.avatar.url(:thumb) %>
				<th></th>
			<% end %>
			<th>Username</th>
			<th>Name</th>
			<th>Email</th>
			<th>Phone</th>
		</tr>
		<tr>
			<% if @user.avatar.url(:thumb) %>
				<td><%= image_tag @user.avatar.url(:thumb) %>
			<% end %>
			<td><%= @user.username %></td>
			<td><%= @user.name %></td>
			<td><%= @user.email %></td>
			<td><%= @user.phone %></td>
		</tr>
	</table>
</div>

<%= link_to 'Edit Profile', edit_user_path %> | 
<%= link_to 'Delete Account', @user, method: :delete %>