<h1>Browse All Routes</h1>
<div id="routes-index-view" class="table-responsive">
  <table class="table table-striped">
    <tr>
      <th>Route</th>
      <th>Route Start</th>
      <th>Route End</th>
      <th># of Rides</th>
      <th></th>
    </tr>
    
    <% @routes.each do |r| %>
    <tr>
      <td><%= r.name.titlecase %></td>
    	<td><%= r.route_start %></td>
    	<td><%= r.route_end %></td>
      <td><%= r.rides.size %></td>
      <td><%= link_to "Show Rides", route_rides_path(r) %></td>
    </tr>
    <% end %>
  </table>
</div>
<div style='width: 800px;'>
  <div id="map-canvas" style='width: 800px; height: 400px;'></div>
</div>

<script>
  var directionsDisplay = new google.maps.DirectionsRenderer();
  var directionsService = new google.maps.DirectionsService();

  function calcRoute() {
    var request = {
      origin: "<%= @routes[4].route_start %>",
      destination: "<%= @routes[4].route_end %>",
      travelMode: google.maps.TravelMode.BICYCLING
    };
    directionsService.route(request, function(result, status) {
      if (status == google.maps.DirectionsStatus.OK) {
        directionsDisplay.setDirections(result);
      }
    });
  }

  calcRoute();

  var handler = Gmaps.build('Google');
  var losAngeles = new google.maps.LatLng(34.053761, -118.344882);
  var mapOptions = {
    zoom:11,
    center: losAngeles
  };

  var styles = [
    {
      stylers: [
        { hue: "#00ffe6" },
        { saturation: -20 }
      ]
    },{
      featureType: "road",
      elementType: "geometry",
      stylers: [
        { lightness: 100 },
        { visibility: "simplified" }
      ]
    },{
      featureType: "road",
      elementType: "labels",
      stylers: [
        { visibility: "off" }
      ]
    }
  ];

  handler.buildMap({provider: mapOptions, provider_key: "AIzaSyDJJPOQH24cT6ETa9IZacS7NENpUt2MKzA", 
    internal: {id: 'map-canvas'}
    }, function(){
      directionsDisplay.setMap(handler.getMap());
      directionsDisplay.setOptions({styles: styles});
    }
  );

</script>