<h1>Rides along <%= @route.name %></h1>
<p><%= @route.route_start %> to <%= @route.route_end %></p>

<div id="rides-index-view" class="table-responsive">
	<table class="table table-striped">
		<tr>
			<th>Ride Name</th>
			<th>Difficulty</th>
			<th>Start Time</th>
			<th>Frequency</th>
			<th></th>
		</tr>
		<% @route.rides.each do |ride| %>
			<td><%= ride.name.titlecase %></td>
			<td><%= ride.difficulty %></td>
			<td><%= ride.start_time_hour %>:<%=ride.start_time_min %> <%=ride.start_time_am %></td>
			<td><%= ride.frequency %></td>
			<td>
					<%= link_to "View ride info", route_ride_path(ride, @route) %> 
					<% if session[:remember_token].to_s == ride.created_by %>
						| <%= link_to "Delete this Ride", [@route, ride], method: :delete %> | 
						<%= link_to "Edit this Ride", edit_route_ride_path(ride, @route) %> 
					<% end %>

			</td>
		</tr>

		<% end %>

	</table>
</div>

<%= link_to "Create new Ride", new_route_ride_path %> | 
<%= link_to "Back to All Routes", routes_path %> <br />

<div>
  <div style='width: 800px;'>
    <div id="map-canvas" style='width: 800px; height: 400px; float: left;'></div>
  </div>
  <div id="map-directions" style='width: 400px; height: 400px; float: left; padding-left: 20px;'>
  </div>
</div>

<script>
  var directionsDisplay = new google.maps.DirectionsRenderer();
  var directionsService = new google.maps.DirectionsService();

  function calcRoute() {
    var request = {
      origin: "<%= @route.route_start %>",
      destination: "<%= @route.route_end %>",
      travelMode: google.maps.TravelMode.BICYCLING
    };
    directionsService.route(request, function(result, status) {
      if (status == google.maps.DirectionsStatus.OK) {
        directionsDisplay.setDirections(result);
      }
    });
  }

  calcRoute();

  var handler = Gmaps.build('Google');
  var losAngeles = new google.maps.LatLng(34.053761, -118.344882);
  var mapOptions = {
    zoom:11,
    center: losAngeles
  }
  handler.buildMap({provider: mapOptions, provider_key: "AIzaSyDJJPOQH24cT6ETa9IZacS7NENpUt2MKzA", internal: {id: 'map-canvas'}}, function(){
    directionsDisplay.setMap(handler.getMap());
    directionsDisplay.setPanel(document.getElementById("map-directions"));
  });

</script>